@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-black: #0B0E11;
  --dark-pink: #ed1b76;
  --light-pink: #f44786;
  --dark-green: #037a76;
  --light-green: #249f9c;
  --text-a: #FFFFFF;
  --text-b: #C3C4C7;
  --text-c: #787B89;
  --orange: #ee5d19;
  --violet: #625df5;
  --dark-violet: #625df580;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::selection {
  background-color: var(--violet);
  color: var(--text-a);
}